language: node_js
node_js:
  - "8"
  - "10"
  - "12"
sudo: required
before_script:
  - sudo chown root /opt/google/chrome/chrome-sandbox
  - sudo chmod 4755 /opt/google/chrome/chrome-sandbox
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
addons:
    chrome: stable
after_success:
  - bash <(curl -s https://codecov.io/bash)
matrix:
  fast_finish: true
